.root {
  width: 100%;
  -webkit-overflow-scrolling: touch;

  display: flex;
  justify-content: center;

  &.scrolling {
    > div {
      pointer-events: none;
    }

    label {
      opacity: 1;
    }
  }
}

.listWrapper2 {
  position: relative;
  overflow: visible;
  background-color: cyan;

}

  .wrapper {
    flex-direction: row;
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
 }
